################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hh.uz/FileContentIndex/6dd16706-a491-4c74-b566-d9cb96ba5093.vsidx
